.quiz-set-card {
    display: block;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    background: #f5f5f5;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.quiz-set-card:hover {
    background: #4caf50;
    color: white;
}
